USE [master]
GO
/****** Object:  Database [CollegeMethodService]    Script Date: 03.04.2026 23:59:53 ******/
CREATE DATABASE [CollegeMethodService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollegeMethodService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CollegeMethodService.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CollegeMethodService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CollegeMethodService_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollegeMethodService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollegeMethodService]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[MaxParticipants] [int] NULL,
	[CurrentParticipants] [int] NULL,
	[Location] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ActiveCourses]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ActiveCourses] AS
SELECT CourseID, CourseName, StartDate, EndDate, 
       (MaxParticipants - CurrentParticipants) AS FreePlaces
FROM Courses
WHERE StartDate > CAST(GETDATE() AS DATE);
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[EventType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_UnreadNotifications]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_UnreadNotifications] AS
SELECT n.NotificationID, u.FullName, n.Title, n.Message, n.CreatedAt
FROM Notifications n
JOIN Users u ON n.UserID = u.UserID
WHERE n.IsRead = 0;
GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SurveyType] [nvarchar](50) NOT NULL,
	[TargetGroup] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ActiveVotes]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ActiveVotes] AS
SELECT SurveyID, Title, Description, EndDate
FROM Surveys
WHERE SurveyType = 'vote' AND IsActive = 1 
  AND (StartDate <= GETDATE() OR StartDate IS NULL)
  AND (EndDate >= GETDATE() OR EndDate IS NULL);
GO
/****** Object:  Table [dbo].[CourseRegistrations]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseRegistrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[UserID] [int] NULL,
	[RegistrationDate] [datetime] NULL,
	[IsConfirmed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[DisciplineName] [nvarchar](100) NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ValidFrom] [date] NULL,
	[ValidTo] [date] NULL,
	[UploadedBy] [int] NULL,
	[UploadDate] [datetime] NULL,
	[DownloadsCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](200) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Location] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[OrganizerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NULL,
	[MessageType] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[SentDate] [datetime] NULL,
	[IsAnswered] [bit] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerDate] [datetime] NULL,
	[ConsultationDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorID] [int] NULL,
	[PublishDate] [datetime] NULL,
	[IsImportant] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyOptions]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NULL,
	[OptionText] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyQuestions]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyQuestions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyID] [int] NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionType] [nvarchar](50) NULL,
	[OrderIndex] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyResponses]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyResponses](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyID] [int] NULL,
	[UserID] [int] NULL,
	[ResponseType] [nvarchar](50) NOT NULL,
	[QuestionID] [int] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[SelectedOptionID] [int] NULL,
	[Category] [nvarchar](100) NULL,
	[SuggestionText] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[AdminComment] [nvarchar](max) NULL,
	[ResponseDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherAttestation]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherAttestation](
	[AttestationID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NULL,
	[AttestationDate] [date] NOT NULL,
	[Result] [nvarchar](50) NULL,
	[CertificateNumber] [nvarchar](100) NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttestationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherTips]    Script Date: 03.04.2026 23:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherTips](
	[TipID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[TipType] [nvarchar](50) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorID] [int] NULL,
	[PublishDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CourseRegistrations] ON 

INSERT [dbo].[CourseRegistrations] ([RegistrationID], [CourseID], [UserID], [RegistrationDate], [IsConfirmed]) VALUES (1, 1, 3, CAST(N'2026-03-31T18:09:56.310' AS DateTime), 1)
INSERT [dbo].[CourseRegistrations] ([RegistrationID], [CourseID], [UserID], [RegistrationDate], [IsConfirmed]) VALUES (2, 1, 1, CAST(N'2026-04-03T00:58:37.460' AS DateTime), 1)
INSERT [dbo].[CourseRegistrations] ([RegistrationID], [CourseID], [UserID], [RegistrationDate], [IsConfirmed]) VALUES (17, 2, 2, CAST(N'2026-03-28T10:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CourseRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [StartDate], [EndDate], [MaxParticipants], [CurrentParticipants], [Location]) VALUES (1, N'Современные методики преподавания', CAST(N'2025-05-10' AS Date), CAST(N'2025-05-20' AS Date), 30, 1, N'Ауд. 101')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [StartDate], [EndDate], [MaxParticipants], [CurrentParticipants], [Location]) VALUES (2, N'Цифровые инструменты в образовании', CAST(N'2025-06-01' AS Date), CAST(N'2025-06-10' AS Date), 25, 5, N'Ауд. 202')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [StartDate], [EndDate], [MaxParticipants], [CurrentParticipants], [Location]) VALUES (3, N'Психология общения с молодежью', CAST(N'2025-06-15' AS Date), CAST(N'2025-06-25' AS Date), 20, 8, N'Ауд. 105')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocumentID], [Title], [DocumentType], [DisciplineName], [FilePath], [Description], [ValidFrom], [ValidTo], [UploadedBy], [UploadDate], [DownloadsCount]) VALUES (2, N'Положение о методическом совете', N'regulation', NULL, N'/docs/polozhenie_ms.pdf', N'Утверждено приказом №45', CAST(N'2025-01-01' AS Date), CAST(N'2026-01-01' AS Date), 1, CAST(N'2025-01-10T12:00:00.000' AS DateTime), 46)
INSERT [dbo].[Documents] ([DocumentID], [Title], [DocumentType], [DisciplineName], [FilePath], [Description], [ValidFrom], [ValidTo], [UploadedBy], [UploadDate], [DownloadsCount]) VALUES (3, N'Инструкция по заполнению журнала', N'instruction', NULL, N'/docs/instrukciya_zhurnal.pdf', N'Обязательна к исполнению', CAST(N'2025-02-01' AS Date), NULL, 2, CAST(N'2025-02-05T10:30:00.000' AS DateTime), 120)
INSERT [dbo].[Documents] ([DocumentID], [Title], [DocumentType], [DisciplineName], [FilePath], [Description], [ValidFrom], [ValidTo], [UploadedBy], [UploadDate], [DownloadsCount]) VALUES (4, N'ФГОС по специальности 09.02.07', N'normative', N'Информационные системы', N'/docs/fgos_09.02.07.pdf', N'Актуальная редакция', CAST(N'2024-09-01' AS Date), CAST(N'2029-08-31' AS Date), 1, CAST(N'2024-08-15T09:00:00.000' AS DateTime), 89)
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventID], [EventName], [EventDate], [Location], [Description], [OrganizerID]) VALUES (1, N'Педагогический совет', CAST(N'2025-04-15T14:00:00.000' AS DateTime), N'Актовый зал', NULL, 2)
INSERT [dbo].[Events] ([EventID], [EventName], [EventDate], [Location], [Description], [OrganizerID]) VALUES (2, N'Мастер-класс "Современный урок"', CAST(N'2025-05-20T10:00:00.000' AS DateTime), N'Ауд. 101', N'Практические приемы', 2)
INSERT [dbo].[Events] ([EventID], [EventName], [EventDate], [Location], [Description], [OrganizerID]) VALUES (3, N'Круглый стол по инклюзии', CAST(N'2025-06-05T14:00:00.000' AS DateTime), N'Конференц-зал', N'Обмен опытом', 2)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderID], [MessageType], [Subject], [MessageText], [SentDate], [IsAnswered], [AnswerText], [AnswerDate], [ConsultationDate], [Status]) VALUES (1, 3, N'message_to_admin', N'Вопрос по аттестации', N'Когда будет проходить следующая аттестация?', CAST(N'2026-03-31T18:09:56.310' AS DateTime), 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Messages] ([MessageID], [SenderID], [MessageType], [Subject], [MessageText], [SentDate], [IsAnswered], [AnswerText], [AnswerDate], [ConsultationDate], [Status]) VALUES (2, 3, N'consultation_request', N'Консультация по методике', N'Нужна консультация по составлению рабочей программы', CAST(N'2026-03-31T18:09:56.310' AS DateTime), 0, NULL, NULL, CAST(N'2025-04-10T10:00:00.000' AS DateTime), N'requested')
INSERT [dbo].[Messages] ([MessageID], [SenderID], [MessageType], [Subject], [MessageText], [SentDate], [IsAnswered], [AnswerText], [AnswerDate], [ConsultationDate], [Status]) VALUES (3, 3, N'message_to_admin', N'Технические проблемы', N'Не открывается электронный журнал', CAST(N'2026-03-28T09:15:00.000' AS DateTime), 1, N'Проверьте соединение, проблема устранена', CAST(N'2026-03-29T10:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Title], [Content], [AuthorID], [PublishDate], [IsImportant]) VALUES (1, N'План методической работы на год', N'Утвержден план работы методической службы на 2025 учебный год...', 1, CAST(N'2026-03-31T18:09:56.307' AS DateTime), 1)
INSERT [dbo].[News] ([NewsID], [Title], [Content], [AuthorID], [PublishDate], [IsImportant]) VALUES (2, N'Изменения в расписании', N'С 1 мая меняется расписание звонков для второй смены', 2, CAST(N'2026-04-01T08:00:00.000' AS DateTime), 1)
INSERT [dbo].[News] ([NewsID], [Title], [Content], [AuthorID], [PublishDate], [IsImportant]) VALUES (3, N'Конкурс "Лучший методист"', N'Прием заявок до 20 мая. Победитель получит грант.', 1, CAST(N'2026-03-28T10:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [IsRead], [CreatedAt], [EventType]) VALUES (1, 1, N'Новое мероприятие', N'Запланирован педагогический совет на 15 апреля', 1, CAST(N'2026-03-31T18:09:56.310' AS DateTime), N'event')
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [IsRead], [CreatedAt], [EventType]) VALUES (2, 3, N'Подтверждение записи', N'Вы записаны на курс "Современные методики преподавания"', 0, CAST(N'2026-03-31T18:09:56.310' AS DateTime), N'course')
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [IsRead], [CreatedAt], [EventType]) VALUES (3, 1, N'Подтверждение записи на курс', N'Вы успешно записаны на курс "Современные методики преподавания"', 1, CAST(N'2026-04-03T00:58:37.570' AS DateTime), N'course')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[SurveyOptions] ON 

INSERT [dbo].[SurveyOptions] ([OptionID], [QuestionID], [OptionText]) VALUES (1, 1, N'Каждый день')
INSERT [dbo].[SurveyOptions] ([OptionID], [QuestionID], [OptionText]) VALUES (2, 1, N'2-3 раза в неделю')
INSERT [dbo].[SurveyOptions] ([OptionID], [QuestionID], [OptionText]) VALUES (3, 1, N'Редко')
SET IDENTITY_INSERT [dbo].[SurveyOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[SurveyQuestions] ON 

INSERT [dbo].[SurveyQuestions] ([QuestionID], [SurveyID], [QuestionText], [QuestionType], [OrderIndex]) VALUES (1, 1, N'Как часто вы обедаете в столовой?', N'choice', 1)
INSERT [dbo].[SurveyQuestions] ([QuestionID], [SurveyID], [QuestionText], [QuestionType], [OrderIndex]) VALUES (2, 1, N'Оцените качество блюд (1-5)', N'rating', 2)
INSERT [dbo].[SurveyQuestions] ([QuestionID], [SurveyID], [QuestionText], [QuestionType], [OrderIndex]) VALUES (3, 1, N'Ваши пожелания по меню', N'text', 3)
SET IDENTITY_INSERT [dbo].[SurveyQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[SurveyResponses] ON 

INSERT [dbo].[SurveyResponses] ([ResponseID], [SurveyID], [UserID], [ResponseType], [QuestionID], [AnswerText], [SelectedOptionID], [Category], [SuggestionText], [Status], [AdminComment], [ResponseDate]) VALUES (2, 3, 3, N'suggestion', NULL, NULL, NULL, N'Учебный процесс', N'Предлагаю добавить больше практических семинаров', N'new', NULL, CAST(N'2026-03-31T18:09:56.313' AS DateTime))
INSERT [dbo].[SurveyResponses] ([ResponseID], [SurveyID], [UserID], [ResponseType], [QuestionID], [AnswerText], [SelectedOptionID], [Category], [SuggestionText], [Status], [AdminComment], [ResponseDate]) VALUES (4, 3, 1, N'suggestion', NULL, NULL, NULL, N'Материально-техническая база', N'нгоекншегл', N'new', NULL, CAST(N'2026-04-03T01:23:15.890' AS DateTime))
SET IDENTITY_INSERT [dbo].[SurveyResponses] OFF
GO
SET IDENTITY_INSERT [dbo].[Surveys] ON 

INSERT [dbo].[Surveys] ([SurveyID], [Title], [Description], [SurveyType], [TargetGroup], [StartDate], [EndDate], [IsActive]) VALUES (1, N'Удовлетворенность работой столовой', N'Оцените качество питания', N'questionnaire', N'both', CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'2026-04-30T23:59:00.000' AS DateTime), 1)
INSERT [dbo].[Surveys] ([SurveyID], [Title], [Description], [SurveyType], [TargetGroup], [StartDate], [EndDate], [IsActive]) VALUES (2, N'Голосование за талисман колледжа', N'Выберите символ', N'vote', N'both', CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'2026-04-15T23:59:00.000' AS DateTime), 1)
INSERT [dbo].[Surveys] ([SurveyID], [Title], [Description], [SurveyType], [TargetGroup], [StartDate], [EndDate], [IsActive]) VALUES (3, N'Сбор предложений по улучшению учебного процесса', N'Предложения принимаются постоянно', N'suggestion', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Surveys] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherAttestation] ON 

INSERT [dbo].[TeacherAttestation] ([AttestationID], [TeacherID], [AttestationDate], [Result], [CertificateNumber], [Comments]) VALUES (1, 3, CAST(N'2024-12-15' AS Date), N'passed', N'АТ-2024-001', NULL)
INSERT [dbo].[TeacherAttestation] ([AttestationID], [TeacherID], [AttestationDate], [Result], [CertificateNumber], [Comments]) VALUES (2, 2, CAST(N'2023-11-20' AS Date), N'passed', N'АТ-2023-045', N'Высшая категория')
INSERT [dbo].[TeacherAttestation] ([AttestationID], [TeacherID], [AttestationDate], [Result], [CertificateNumber], [Comments]) VALUES (3, 3, CAST(N'2025-03-10' AS Date), N'passed', N'АТ-2025-012', N'Первая категория')
SET IDENTITY_INSERT [dbo].[TeacherAttestation] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherTips] ON 

INSERT [dbo].[TeacherTips] ([TipID], [Title], [TipType], [Content], [AuthorID], [PublishDate]) VALUES (1, N'Как начать занятие с мотивации', N'lesson_tip', N'Используйте проблемную ситуацию или яркий пример из практики...', 2, CAST(N'2026-03-31T18:09:56.310' AS DateTime))
INSERT [dbo].[TeacherTips] ([TipID], [Title], [TipType], [Content], [AuthorID], [PublishDate]) VALUES (2, N'5 способов удержать внимание', N'lesson_tip', N'Меняйте деятельность каждые 7-10 минут, используйте юмор, задавайте неожиданные вопросы...', 2, CAST(N'2026-03-20T10:00:00.000' AS DateTime))
INSERT [dbo].[TeacherTips] ([TipID], [Title], [TipType], [Content], [AuthorID], [PublishDate]) VALUES (3, N'Как работать с "тихими" студентами', N'practical_recommendation', N'Давайте время подумать, используйте письменные задания, вовлекайте через парную работу...', 3, CAST(N'2026-03-15T14:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TeacherTips] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [IsActive], [CreatedAt]) VALUES (1, N'Admin', N'admin@college.ru', N'admin123', N'admin', 1, CAST(N'2026-03-31T18:09:56.307' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [IsActive], [CreatedAt]) VALUES (2, N'Petrova Method', N'methodist@college.ru', N'method123', N'methodist', 1, CAST(N'2026-03-31T18:09:56.307' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [IsActive], [CreatedAt]) VALUES (3, N'Иванов Иван Иванович', N'ivanov@college.ru', N'teacher123', N'teacher', 1, CAST(N'2026-03-31T18:09:56.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Courses_StartDate]    Script Date: 03.04.2026 23:59:53 ******/
CREATE NONCLUSTERED INDEX [IX_Courses_StartDate] ON [dbo].[Courses]
(
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_Type]    Script Date: 03.04.2026 23:59:53 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_Type] ON [dbo].[Documents]
(
	[DocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_Date]    Script Date: 03.04.2026 23:59:53 ******/
CREATE NONCLUSTERED INDEX [IX_Events_Date] ON [dbo].[Events]
(
	[EventDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_News_PublishDate]    Script Date: 03.04.2026 23:59:53 ******/
CREATE NONCLUSTERED INDEX [IX_News_PublishDate] ON [dbo].[News]
(
	[PublishDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_User_Unread]    Script Date: 03.04.2026 23:59:53 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_User_Unread] ON [dbo].[Notifications]
(
	[UserID] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserVote]    Script Date: 03.04.2026 23:59:53 ******/
ALTER TABLE [dbo].[SurveyResponses] ADD  CONSTRAINT [UQ_UserVote] UNIQUE NONCLUSTERED 
(
	[SurveyID] ASC,
	[UserID] ASC,
	[ResponseType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SurveyResponses_Survey]    Script Date: 03.04.2026 23:59:53 ******/
CREATE NONCLUSTERED INDEX [IX_SurveyResponses_Survey] ON [dbo].[SurveyResponses]
(
	[SurveyID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Surveys_Active]    Script Date: 03.04.2026 23:59:53 ******/
CREATE NONCLUSTERED INDEX [IX_Surveys_Active] ON [dbo].[Surveys]
(
	[IsActive] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534AE2393D5]    Script Date: 03.04.2026 23:59:53 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CourseRegistrations] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[CourseRegistrations] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [CurrentParticipants]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT ((0)) FOR [DownloadsCount]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsAnswered]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [PublishDate]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((0)) FOR [IsImportant]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SurveyResponses] ADD  DEFAULT (getdate()) FOR [ResponseDate]
GO
ALTER TABLE [dbo].[Surveys] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TeacherTips] ADD  DEFAULT (getdate()) FOR [PublishDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CourseRegistrations]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CourseRegistrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([OrganizerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SurveyOptions]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[SurveyQuestions] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SurveyQuestions]  WITH CHECK ADD FOREIGN KEY([SurveyID])
REFERENCES [dbo].[Surveys] ([SurveyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[SurveyQuestions] ([QuestionID])
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD FOREIGN KEY([SelectedOptionID])
REFERENCES [dbo].[SurveyOptions] ([OptionID])
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD FOREIGN KEY([SurveyID])
REFERENCES [dbo].[Surveys] ([SurveyID])
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TeacherAttestation]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TeacherTips]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD CHECK  (([DocumentType]='instruction' OR [DocumentType]='regulation' OR [DocumentType]='normative' OR [DocumentType]='methodical_recommendation' OR [DocumentType]='working_program'))
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD CHECK  (([MessageType]='consultation_request' OR [MessageType]='message_to_admin'))
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD CHECK  (([Status]='cancelled' OR [Status]='completed' OR [Status]='confirmed' OR [Status]='requested'))
GO
ALTER TABLE [dbo].[SurveyQuestions]  WITH CHECK ADD CHECK  (([QuestionType]='rating' OR [QuestionType]='choice' OR [QuestionType]='text'))
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD CHECK  (([ResponseType]='suggestion' OR [ResponseType]='vote' OR [ResponseType]='survey_answer'))
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD CHECK  (([Status]='rejected' OR [Status]='implemented' OR [Status]='reviewed' OR [Status]='new'))
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD CHECK  (([SurveyType]='suggestion' OR [SurveyType]='vote' OR [SurveyType]='questionnaire'))
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD CHECK  (([TargetGroup]='both' OR [TargetGroup]='students' OR [TargetGroup]='teachers'))
GO
ALTER TABLE [dbo].[TeacherAttestation]  WITH CHECK ADD CHECK  (([Result]='deferred' OR [Result]='failed' OR [Result]='passed'))
GO
ALTER TABLE [dbo].[TeacherTips]  WITH CHECK ADD CHECK  (([TipType]='practical_recommendation' OR [TipType]='lesson_tip'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='methodist' OR [Role]='admin' OR [Role]='teacher'))
GO
USE [master]
GO
